* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.container {
  max-width: 970px;
  margin: 0 auto;
}

/* colors */

.black {
  color: #070707;
}

.gray {
  background-color: #F6F6F6;
}

/* Header */
header {
  width: 100%;
  background-color: #FFFFFF;
  opacity: 0.9;
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul {
  margin: 30px auto;
}

li {
  list-style-type: none;
}

li>a {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #828282;
  text-decoration: none;
}

nav>ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 40px;
  padding: 0;
}

.divider {
  width: 970px;
  height: 1px;
  background-color: #828282;
  margin: 0 auto;
}

/* First screen */

.firstscreen {
  /* margin-top: 92px; */
  padding-top: 92px;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin: 0;
}

h3 {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #828282;
  margin: 0;
}

h4 {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

p {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin: 0;
}

.firstscreen__img {
  width: 100%;
  margin-top: 50px;
}

@keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .firstscreen__img {
      animation-name: fadeIn;
      animation-duration: 2s;
      animation-timing-function: ease-in;
      animation-fill-mode: backwards;
    }

    h1 {
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      animation-fill-mode: backwards;
    }

/* About me */

.aboutme {
  padding: 100px 0 92px 0;
}
.aboutme__flex {
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 30px;
  margin-top: 50px;
}

/* Skills */

.skills {
  padding: 100px 0;
}

.skills__text {
  margin-top: 20px;
}

.skills__items {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.skills__item {
  width: 170px;
}

.skills__programs {
  width: 90px;
  height: 143px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.skills__stars {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.star {
  width: 26px;
  height: 26px;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='26' viewBox='0 0 27 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41471 25.6211C6.78429 26.1123 6.14017 26.1259 5.48235 25.662C4.82452 25.1982 4.60525 24.5843 4.82452 23.8203L7.16802 16.2485L1.20649 12.0329C0.54867 11.5691 0.350226 10.9551 0.611163 10.1911C0.871003 9.42715 1.39836 9.04516 2.19323 9.04516H9.55264L11.9372 1.18692C12.0743 0.804923 12.287 0.511331 12.5753 0.306144C12.8626 0.102048 13.1707 0 13.4996 0C13.8285 0 14.1366 0.102048 14.4238 0.306144C14.7122 0.511331 14.9249 0.804923 15.0619 1.18692L17.4465 9.04516H24.8059C25.6008 9.04516 26.1287 9.42715 26.3896 10.1911C26.6495 10.9551 26.4505 11.5691 25.7927 12.0329L19.8311 16.2485L22.1746 23.8203C22.3939 24.5843 22.1746 25.1982 21.5168 25.662C20.859 26.1259 20.2149 26.1123 19.5844 25.6211L13.4996 20.9962L7.41471 25.6211Z' fill='%23E5E5E5' /%3E%3C/svg%3E");
}

.star__black {
  width: 26px;
  height: 26px;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='26' viewBox='0 0 27 26' fill='none' class='skills__star black__star' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41471 25.6211C6.78429 26.1123 6.14017 26.1259 5.48235 25.662C4.82452 25.1982 4.60525 24.5843 4.82452 23.8203L7.16802 16.2485L1.20649 12.0329C0.54867 11.5691 0.350226 10.9551 0.611163 10.1911C0.871003 9.42715 1.39836 9.04516 2.19323 9.04516H9.55264L11.9372 1.18692C12.0743 0.804923 12.287 0.511331 12.5753 0.306144C12.8626 0.102048 13.1707 0 13.4996 0C13.8285 0 14.1366 0.102048 14.4238 0.306144C14.7122 0.511331 14.9249 0.804923 15.0619 1.18692L17.4465 9.04516H24.8059C25.6008 9.04516 26.1287 9.42715 26.3896 10.1911C26.6495 10.9551 26.4505 11.5691 25.7927 12.0329L19.8311 16.2485L22.1746 23.8203C22.3939 24.5843 22.1746 25.1982 21.5168 25.662C20.859 26.1259 20.2149 26.1123 19.5844 25.6211L13.4996 20.9962L7.41471 25.6211Z' fill='%23070707' /%3E%3C/svg%3E");
}

/* Portfolio */

.portfolio {
  padding: 100px 0;
}

iframe {
  background-color: #fff;
}

.porfolio__list {
  margin-top: 50px;
}

img {
  max-width: 100%;
}

.portfolio__link {
  display: block;
  margin: 40px auto 0 auto;
  font-weight: 400;
  font-size: 18px;
  text-decoration: underline;
  text-align: center;
  max-width: 260px;
}

li.portfolio__item {
  margin-bottom: 70px;
}

li.portfolio__item:last-child {
  margin-bottom: 0;
}

/* footer */

footer {
  margin: 100px 0;
}

.contacts__descr {
  max-width: 280px;
  margin: 20px auto 0 auto;
  text-align: center;
}

button {
  display: block;
  margin: 60px auto 0 auto;
  border-radius: 22px;
  width: 180px;
  height: 44px;
  background-color: #070707;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #fff;
}

button:active {
  background-color: #828282;
}

.contacts__icons {
  margin-top: 30px;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
}

.contacts__subtitle {
  margin: 60px auto 0 auto;
  width: 200px;
  color: #828282;
}

a:active {
  color: #070707;
}